html, body {
  height: 100%;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the wrapper spans the full height of the viewport */
}

main {
  flex-grow: 1; /* Pushes the footer to the bottom */
}

footer {
  background-color: var(--primary-color);
  color: #f8f9fa;
  padding: 2rem 0;
}

footer p {
  margin: 0;
}
